.Code_Block {
  position: relative;
}

.Code_Block > .hidden-code {
  height: 0;
  width: 0;
  position: absolute;
  top: 13px;
  right: 13px;
  z-index: -1;
}

.Code_Block > .copied-text {
  display: none;
  user-select: none;
}

.Code_Block > .copied-text.show {
  display: block;
  position: absolute;
  top: 13px;
  right: 68px;
  margin: 0;
  background: grey;
  padding: 8px;
}

.Code_Block > .copy-button {
  position: absolute;
  top: 13px;
  right: 13px;
  margin: 0;
  background: grey;
  padding: 8px;
  user-select: none;
}

.Code_Block > .copy-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.Code_Block > pre {
  margin: 0;
}

.Code_Block > pre > code.code-block {
  padding: 21px;
}
